<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <div class="js-scroll-trigger text-center w-100" href="#page-top">

    {{ $photo := "profile.jpeg" | relURL }}
    <img class="img-fluid img-profile rounded-circle mb-2"
         src="{{ $photo }}"
         alt="Foto de perfil" />
  </div>
    <div class="div-name">{{ .Site.Params.name }}</div>
    <div class="div-tagline">{{ .Site.Params.tagline }}</div>
    <div class="d-flex justify-content-center div-location"><i class="d-flex justify-content-center fa-solid fa-location-dot"></i>{{ .Site.Params.location }}</div>
    <div class="d-flex justify-content-center gap-2 social-network">
        {{ with .Site.Params.social.linkedin }}
          <a href="{{ . }}" target="_blank" class="text-white">
            <i class="fa-brands fa-square-linkedin social-network"></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.github }}
          <a href="{{ . }}" target="_blank" class="text-white">
            <i class="fa-brands fa-square-github social-network"></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.twitter }}
          <a href="{{ . }}" target="_blank" class="text-white">
            <i class="fa-brands fa-square-x-twitter social-network"></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.orcid }}
          <a href="{{ . }}" target="_blank" class="text-white">
            <i class="fa-brands fa-orcid social-network"></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.kaggle }}
          <a href="{{ . }}" target="_blank" class="text-white">
            <i class="fa-brands fa-kaggle social-network"></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.email }}
          <a href="mailto:{{ . }}" class="text-white">
            <i class="fa-solid fa-envelope social-network"></i>
          </a>
        {{ end }}
    </div>
  <div class="custom-line"></div>
  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        {{ range .Site.Menus.main }}
          {{/* decide se este item está ativo */}}
          {{ $isActive := or
              (or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .))
              (and $.IsHome (or (eq .URL "/") (eq .PageRef "/")))
          }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger {{ if $isActive }}active{{ end }}"
               href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
</nav>
